<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/boardEdit.js}"></script>
    <link th:href="@{/css/boardWrite.css}" rel="stylesheet">
    <title>게시글 수정</title>
</head>
<body>
<div class="container">
    <h1>게시글 수정</h1>

    <form id="editForm" enctype="multipart/form-data">
        <input id="hiddenId" type="hidden" th:value="${id}">
        <input id="hiddenUserId" type="hidden" th:value="${userId}">
        <input id="hiddenFilePath" type="hidden">

        <div class="form-group">
            <label for="titleInput">제목</label>
            <input type="text" id="titleInput" name="title" th:value="${title}" required>
        </div>

        <div class="form-group">
            <label for="userId">작성자</label>
            <input type="text" id="userId" name="userId" th:value="${userId}" required disabled>
        </div>

        <div class="form-group">
            <label for="contentInput">내용</label>
            <textarea id="contentInput" name="content" th:text="${content}" rows="10" required></textarea>
        </div>

        <div class="form-group">
            <label for="fileInput">파일 업로드</label>
            <input type="file" id="fileInput" name="file" th:value="${filePath}">
        </div>

        <!-- 업로드된 파일을 보여주고, 취소할 수 있는 영역 -->
        <div class="uploaded-files">
            <ul id="fileList"></ul> <!-- 파일 목록을 보여줄 부분 -->
        </div>

        <div class="form-actions">
            <button type="button" class="btn" id="updateBtn">작성하기</button>
            <button type="button" class="btn cancel-btn" th:onclick="|location.href='@{/}'|">목록으로 가기</button>
        </div>
    </form>
</div>

</body>
</html>