<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/boardEdit.js}"></script>
    <link th:href="@{/css/boardEdit.css}" rel="stylesheet">
    <title>게시글 수정</title>
</head>
<body>
<div class="container">
    <input id="hiddenId" type="hidden" th:value="${id}">
    <input id="hiddenUserId" type="hidden" th:value="${userId}">

    <div class="form-group">
        <label for="titleInput">제목</label>
        <input id="titleInput" type="text" th:value="${title}" required>
    </div>

    <div class="form-group">
        <label for="contentInput">내용</label>
        <textarea id="contentInput" required th:text="${content}"></textarea>
    </div>

    <button id="updateBtn">수정 완료</button>
    <button onclick="location.href='@{/}'">취소</button>
</div>
</body>
</html>
